.App {
  display:block; height:auto; min-height: 100%; padding:50px 0 122px;
}

.App-header {
  position: relative;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
  text-align: cetner;
  z-index:1;
}
.App-header .tit_h1 {
  display: block;
  font-size:1.4rem;
}
.section.inp {
  padding-top:50px;
  min-height:62px;
  padding-bottom:40px;
}

.section.inp

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
